<div class="footer">
        <div class="container">
            <div class="foot-r">
                <img src="/img/full-logo.svg" alt="" class="footer-logo">
            </div>
            <div class="foot-l">
                <ul class="foot-social">
                    <li><a href=""><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>