<%include partials/header%>
<div class="hero">
    <h1 class="hero-head">Welcome</h1>
    <p><em>With great power, comes great responsibility.</em></p>
    <p>Use your powers wisely, dont do evil things. :)</p>
</div>
<div class="grid container">
    <div class="col-4 hero">
        <h1>Upload Content</h1>
        <a href="/gsad/admin/upload" class="btn btn-block yellow">Upload</a>
    </div>
    <div class="col-4 hero">
        <h1>View Content</h1>
        <a href="" class="btn btn-block blue">View</a>
    </div>
    <div class="col-4 hero">
        <h1>Delete Content</h1>
        <a href="" class="btn btn-block red">Delete</a>
    </div>
</div>
<%include partials/footer%>