<% include partials/header %>
    <h1>Login</h1>
    <form action="/gsad/admin/login" method="POST">
        <input type="text" placeholder="username" name="username">
        <input type="password" placeholder="password" name="password">
        <button>login</button>
    </form>

    <% include partials/footer %>