<%include partials/header%>
<div class="hero">
    <h1 class="hero-head">Say Bye! :(</h1>
    <p><em>Delete Posts</em></p>
    <a href="/gsad/admin" class="btn big green">Go Back</a>
</div>
<div class="grid container">
    <% allposts.forEach(function(post){%>
        <div class="col-4 content">
            <div class="desc">
                <p><strong>Title: </strong> <%=post.title%></p>
                <p><strong>Info: </strong><%=post.info%></p>
                <p><strong>Content ID: </strong><%=post._id%></p>
                <a href="/gsad/admin/delete/<%=post._id%>" class="btn btn-block red">Delete</a>
            </div>
        </div>
    <%});%>
</div>
<%include partials/footer%>