<%include partials/header%>
<div class="grid container">
    <%posts.forEach(function(post){%>
        <div class="col-4">
            <%=post.title%>
            <a href="/<%=post._id%>" class="btn btn-block yellow">settings</a>
        </div>
    <%})%>
</div>

<%include partials/footer%>
    
