.red{
    background-color: #F44336;
    color:#f2f2f2;
}
.blue{
    background-color: #3D5AFE;
    color: #f2f2f2;
}
.yellow{
    background-color: #FFEA00;
    color: #121212;
}
.green{
    background-color: #64DD17;
    color: #212121;
}
.btn{
    display: block;
    outline: none;
    border: none;
    font-weight: bold;
    border-radius: 2px;
    font-size: 1em;
    text-align: center;
    margin-top : 1em;
    cursor: pointer;
}
.big{
    
    padding: 1em 0 1em 0;
    width:20%;
}
.mid{
    padding: 1em 0 1em 0;
    width:15%;
}
.sm{
    padding: 1em 0 1em 0;
    width: 10%;
}
.btn-block{
    width: 100%;
    padding: 1em 0 1em 0;
}

/* interactions */
.btn:hover{
    opacity: .8;
    z-index: 999;
}
.btn:focus{
    opacity:.8;
    outline: none;
    border:none;
    z-index: 999;
}
.btn::-moz-focus-inner {border:0;}
/* media queries */

@media (max-width:960px){
    .big{
        width:40%;
    }
    .mid{
        width:30%;
    }
    .sm{
        width: 20%;
    } 
}
@media (max-width:640px){
    .big{
        width:80%;
    }
    .mid{
        width:60%;
    }
    .sm{
        width: 40%;
    } 
}
