.space{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: .3em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
}
.left-panel{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    cursor: pointer;
}
.right-panel{
	display: none;
}
.expand{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #f3f3f3;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
}
.expand .right-panel{
	display: block;
	width: 100%;
	background-color: #fff;
}
.expand .right-panel a{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 100%;
	color: blue;
	text-align: left;
	font-size: 1.2em;
	padding: .3em;
}
.expand .right-panel a:hover{
	background-color: #f3f3f3;
}
@media(max-width: 640px){
	.expand{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}