label{
    display: block; 
    line-height: 2;
}
input{
    outline: none; 
    border: none;
}
input[type = text]{
    display: block;
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    padding: 1em; 
}
input[type = "password"]{
    display: block;
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    padding: 1em;
}
input[type = "password"]:focus{
    box-shadow: 0 0 2px #0277BD;
}
input[type = text]:focus{
    box-shadow: 0 0 2px #0277BD;
}
