.normal-color .bg-color{
	background-color: #353443;
}
.normal-color .icon-color{
	background-color: #f2f2f2;
}
.normal-bg-color{
	background-color: #353443;
}
.invert-color .bg-color{
	background-color: #f2f2f2;
}
.invert-color .icon-color{
	background-color: #353443;
}
.invert-bg-color{
	background-color: #f2f2f2;
}
.custom-color .bg-color{
	background-color: #18ffff;
}
.custom-color .icon-color{
	background-color: #006064;
}
.custom-bg-color{
	background-color: #18ffff;
}
.gsicon-container{
	overflow: hidden;
	width: 100px;
	height: 100px;
        -ms-flex-item-align: center;
        align-self: center;
}
.icon{
	position: relative;
	margin-left: 14%;
	margin-top: 7.5%;
	width: 90%;
	height: 85%;
	overflow: hidden;
    	cursor: pointer;
}
.icon div{
	position: absolute;
}
.circle{
	border-radius: 50%;
}
.circle1{
	width: 100%;
	height: 100%;
}
.circle2{
	top: 13.3%;
	left: 13.3%;
	width: 73.3%;
	height: 73.3%;
}
.cutter1{
	width: 20%;
	height: 100%;
	right: 0;
	z-index: 99;
}
.cutter2{
	width: 15%;
	height: 15%;
	top: 13%;
	right: 12.6%;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 99;
}
.gbar{
	width: 13.3%;
	height: 35%;
	bottom: 10%;
	right: 20%;
	z-index: 1;
}
.frame-back{
	border-radius: 0 0 15% 15%;
	width: 80.8%;
	height: 38.6%;
	top: 28.8%;
	z-index: 2;
}
.frame{
	width: 80%;
	height: 6.6%;
	top: 33.8%;
	left: 0;
	z-index: 2;
}
.eye-back{
	border-radius: 0 0 30% 30%;
	width: 36.6%;
	height: 28.6%;
	top: 33.8%;
	z-index: 3;
}
.eye-back-right{
	right: 20%;
}
.eye{
	border-radius: 0 0 30% 30%;
	width: 23.3%;
	height: 15.3%;
	top: 40.45%;
	z-index: 3;
}
.eye-left{
	left: 6.65%;
}
.eye-right{
	right: 26.65%;
}
