/* reset */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Lato",sans-serif;
}
body{
    background-color: #f3f3f3;
}
.holder{
    margin-top: 100px;
    margin-left: 100px;
}

/* base */

.container{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width:90%;
    margin: auto;
    margin-top: 1em;
}
a:focus{
    outline: none;
    border: none;
}
input[type = "button"]{
    outline: none;
    border: none;
}

/* animations */

.animator{
    opacity: 0;
    -webkit-animation: 1s fadein 0.5s forwards;
            animation: 1s fadein 0.5s forwards; 
}
@-webkit-keyframes fadein{
    100%{
        opacity: 1;
    }
}
@keyframes fadein{
    100%{
        opacity: 1;
    }
}

/* helpers */

/* hero area */
.hero{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #e0e0e0;
    grid-column: 1 / -1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 2em;
    line-height: 2; 
    color:#333;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.hero-head{
    font-size: 3em;
}
/* thumbnails */
.content{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: .3em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
    border-radius: 3px;
}
.content > .thumbnail > img{
    width: 100%;
    height: 100%;
    border-radius: 3px;
}
.desc{
    color:#303030;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding:1em;
}
@media (max-width:768px){
    .hero{
        line-height: 1.5;
    }
    .hero-head{
        font-size: 2em;
    }
}

/* navbar */

.nav{
    background-color: #353443;
    color: #f2f2f2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1em 1em 1em 0;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    width: 100%;
    z-index: 9999;
}
.nav > .container{
    width:90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.navigation{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.navigation > li{
    list-style: none;
    padding: 0 1.3em 0 0;
}
.navigation > li > a{
    color: #f2f2f2;
}
.navigation > li:nth-child(4){
    padding-right: 0;
}
.logo-web{
    width:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.logo > a{
    color: #f2f2f2;
}
.toggler{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #353443;
    padding: 1px 4px;
    text-align: center;
}
.hamburger{
    cursor: pointer;
}
.bar{
    width: 20px;
    height: 2px;
    background-color: #f2f2f2;
    display: block;
    margin: 4px auto;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.change{
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.change .bar2{
    width: 0px;
}
.change .bar1{
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
}
.change .bar3{
    -webkit-transform: translateY(-6px) rotate(90deg);
    -ms-transform: translateY(-6px) rotate(90deg);
    transform: translateY(-6px) rotate(90deg);
}
.isvisible{
    display: block !important;
}

/* responsive navbar */

@media (max-width:960px){
    .nav{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding-bottom: 0;
        padding-right: 0;
    }
    .nav > .container{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
    }
    .navigation{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width:100%;
        font-size: 1.07em;
        display: none;
        z-index: 9999;
    }
    .navigation > li{
        width:100%;
        padding: 0;
    }
    .navigation > li > a{
        display: block;
        width:100%; 
        padding: 1em 0 1em 0;
        border-bottom: 1px solid #303030;
    }
    .navigation > li:nth-child(1){
        border-top: 1px solid #303030;
    }
    .logo-web{
        width:90%;
        margin-bottom: 1em;
    }
    .toggler{
        display: block;
    }
}
@media only screen and (min-width: 768px){
    .nav{
        display: none;
    }
    .rest-page{
        margin-left: 4%;
    }
}

/* grid system */

.grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: auto;
    grid-gap: 1em;
}
.grid > .col-4{
    grid-column: auto/ span 4;
}
.grid > .col-8{
    grid-column: auto / span 8;
}
.grid > .col-12{
    grid-column: 1 / -1;
}
@media (max-width:960px){
    .grid{
        grid-template-columns: repeat(8,1fr);

    }
}
@media (max-width:640px){
    .grid{
        grid-template-columns: repeat(4,1fr);

    }
}

/* forms */

label{
    display: block; 
    line-height: 2;
}
input{
    outline: none; 
    border: none;
}
input[type = text]{
    display: block;
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    padding: 1em; 
}
input[type = "password"]{
    display: block;
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    padding: 1em;
}
input[type = "password"]:focus{
    -webkit-box-shadow: 0 0 2px #0277BD;
            box-shadow: 0 0 2px #0277BD;
}
input[type = text]:focus{
    -webkit-box-shadow: 0 0 2px #0277BD;
            box-shadow: 0 0 2px #0277BD;
}

/* footer */

.footer{
    background-color: #353443;
    padding:1em 0 1em 0;
    color: #f2f2f2;
    margin-top:2em;
    line-height: 1.5;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.footer > .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.foot-r{
    width: 50%;
}
.foot-l{
    width:50%;
}
.foot-social{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.foot-social > li{
    list-style: none;
}
.foot-social > li > a{
    color:#f2f2f2;
    padding : 0 1em 0 0;
}
@media (max-width:960px){
    .footer{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .footer > .container{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .foot-r{
        margin: 0 0 1em 0;
    }
    .foot-r, .foot-l{
        width: 100%;
    }
}

/* buttons */

.red{
    background-color: #F44336;
    color:#f2f2f2;
}
.blue{
    background-color: #3D5AFE;
    color: #f2f2f2;
}
.yellow{
    background-color: #FFEA00;
    color: #121212;
}
.green{
    background-color: #64DD17;
    color: #212121;
}
.btn{
    display: block;
    outline: none;
    border: none;
    font-weight: bold;
    border-radius: 2px;
    font-size: 1em;
    text-align: center;
    margin-top : 1em;
    cursor: pointer;
}
.big{
    
    padding: 1em 0 1em 0;
    width:20%;
}
.mid{
    padding: 1em 0 1em 0;
    width:15%;
}
.sm{
    padding: 1em 0 1em 0;
    width: 10%;
}
.btn-block{
    width: 100%;
    padding: 1em 0 1em 0;
}

/* interactions */
.btn:hover{
    opacity: .8;
    z-index: 999;
}
.btn:focus{
    opacity:.8;
    outline: none;
    border:none;
    z-index: 999;
}
.btn::-moz-focus-inner {border:0;}
/* media queries */

@media (max-width:960px){
    .big{
        width:40%;
    }
    .mid{
        width:30%;
    }
    .sm{
        width: 20%;
    } 
}
@media (max-width:640px){
    .big{
        width:80%;
    }
    .mid{
        width:60%;
    }
    .sm{
        width: 40%;
    } 
}

/*Move to top button*/

#moveToTop{
    display: none;
    position: fixed;
    bottom: 30px;
    right: 1%;
    background-color: #26A69A;
    color: #f2f2f2;
    padding: 8px 10px;
    border-radius: 50%;
}

/*Slideshow*/

.transparent-box{
  position: absolute;
  width: 30%;
  overflow: auto;
  top: 10px;
  right: 50px;
  bottom: 10px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.5);
  color: white;
  text-align: center;
  z-index: 99;
}
.slides{
  display: none;
}
.slide-img{
  vertical-align: middle;
  width: 100%;
}
.slideshow-container {
  position: relative;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  transition: 0.6s ease;
}
.prev{
  left: 0;
  border-radius: 0 3px 3px 0;
}
.next{
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
  background-color: rgba(0,0,0,0.8);
}
.caption-text{
  color: #f2f2f2;
  font-size: 18px;
  padding: 8px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.img-number{
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.fade{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade{
  from{opacity: .4} 
  to{opacity: 1}
}
@keyframes fade{
  from{opacity: .4} 
  to{opacity: 1}
}
@media only screen and (max-width: 768px){
  .transparent-box{
    position: inherit;
    width: 100%;
    height: 125px;
    border-top: none;
    border-radius: 0 0 5px 5px;
    border-color: black;
    background-color: rgba(255,255,255,0.5);
    color: black;
  }
  .prev, .next{
    padding: 8px 16px 8px 16px;
    bottom: 125px;
  }
  .caption-text{
    bottom: 125px;
    font-size: 15px;
  }
}
@media only screen and (min-width: 768px){
  .prev, .next{
    top: 50%;
    margin-top: -22px;
  }
}

/*Sidebar*/

.sidebar{
    position: fixed;
    width: 4.2%;
    height: 100%;
    background-color: #353443;
    z-index: 999;
}
.side-btn{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    left: -200%;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    padding: 30%;
    margin: 0;
    width: 300%;
    background-color: #353443;
    color: #f2f2f2;
    font-size: 100%;
}
.side-btn:hover{
    left: 0%;
}
.side-btn:hover .side-btn-icon{
    display: none;
    width: 0;
}
.side-btn:hover .side-btn-text{
    width: 100%;
    text-align: center;
}
.side-btn-text{
    width: 90%;
    text-align: left;
}
.side-btn-icon{
    width: 10%;
    text-align: right;
    margin-right: 5px;
}
@media only screen and (max-width: 768px){
    .sidebar{
        display: none;
    }
}

/*Geekseek logo made with CSS*/

.normal-color .bg-color{
	background-color: #353443;
}
.normal-color .icon-color{
	background-color: #f2f2f2;
}
.normal-bg-color{
	background-color: #353443;
}
.invert-color .bg-color{
	background-color: #f2f2f2;
}
.invert-color .icon-color{
	background-color: #353443;
}
.invert-bg-color{
	background-color: #f2f2f2;
}
.custom-color .bg-color{
	background-color: #18ffff;
}
.custom-color .icon-color{
	background-color: #006064;
}
.custom-bg-color{
	background-color: #18ffff;
}
.icon-container{
	overflow: hidden;
	width: 100px;
	height: 100px;
        -ms-flex-item-align: center;
        align-self: center;
}
.icon{
	position: relative;
	margin-left: 14%;
	margin-top: 7.5%;
	width: 90%;
	height: 85%;
	overflow: hidden;
    	cursor: pointer;
}
.icon div{
	position: absolute;
}
.circle{
	border-radius: 50%;
}
.circle1{
	width: 100%;
	height: 100%;
}
.circle2{
	top: 13.3%;
	left: 13.3%;
	width: 73.3%;
	height: 73.3%;
}
.cutter1{
	width: 20%;
	height: 100%;
	right: 0;
	z-index: 99;
}
.cutter2{
	width: 15%;
	height: 15%;
	top: 13%;
	right: 12.6%;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 99;
}
.gbar{
	width: 13.3%;
	height: 35%;
	bottom: 10%;
	right: 20%;
	z-index: 1;
}
.frame-back{
	border-radius: 0 0 15% 15%;
	width: 80.8%;
	height: 38.6%;
	top: 28.8%;
	z-index: 2;
}
.frame{
	width: 80%;
	height: 6.6%;
	top: 33.8%;
	left: 0;
	z-index: 2;
}
.eye-back{
	border-radius: 0 0 30% 30%;
	width: 36.6%;
	height: 28.6%;
	top: 33.8%;
	z-index: 3;
}
.eye-back-right{
	right: 20%;
}
.eye{
	border-radius: 0 0 30% 30%;
	width: 23.3%;
	height: 15.3%;
	top: 40.45%;
	z-index: 3;
}
.eye-left{
	left: 6.65%;
}
.eye-right{
	right: 26.65%;
}
