.sidebar{
	position: fixed;
	width: 4.2%;
	height: 100%;
	background-color: #353443;
	z-index: 999;
}
.side-btn{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	left: -300%;
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
	padding: 30%;
	margin: 0;
	width: 400%;
	background-color: #353443;
	color: #f2f2f2;
}
.side-btn:hover{
	left: 0%;
}
.side-btn:hover .side-btn-icon{
	display: none;
	width: 0;
}
.side-btn:hover .side-btn-text{
	width: 100%;
	text-align: center;
	font-size: 1.3em;
}
.side-btn-text{
	width: 90%;
	text-align: left;
	font-size: 1em;
}
.side-btn-icon{
	width: 10%;
	text-align: right;
	font-size: 1.3em;
	margin-right: 0.25em;
}
@media only screen and (max-width: 768px){
	.sidebar{
		display: none;
	}
}