.transparent-box{
  position: absolute;
  width: 30%;
  overflow: auto;
  top: 10px;
  right: 50px;
  bottom: 10px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.5);
  color: white;
  text-align: center;
  z-index: 99;
}
.slides{
  display: none;
}
.slide-img{
  vertical-align: middle;
  width: 100%;
}
.slideshow-container {
  position: relative;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
}
.prev{
  left: 0;
  border-radius: 0 3px 3px 0;
}
.next{
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
  background-color: rgba(0,0,0,0.8);
}
.caption-text{
  color: #f2f2f2;
  font-size: 18px;
  padding: 8px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.img-number{
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.fade{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade{
  from{opacity: .4} 
  to{opacity: 1}
}
@keyframes fade{
  from{opacity: .4} 
  to{opacity: 1}
}
@media only screen and (max-width: 768px){
  .transparent-box{
    position: inherit;
    width: 100%;
    height: 125px;
    border-top: none;
    border-radius: 0 0 5px 5px;
    border-color: black;
    background-color: rgba(255,255,255,0.5);
    color: black;
  }
  .prev, .next{
    padding: 8px 16px 8px 16px;
    bottom: 125px;
  }
  .caption-text{
    bottom: 125px;
    font-size: 15px;
  }
}
@media only screen and (min-width: 768px){
  .prev, .next{
    top: 50%;
    margin-top: -22px;
  }
}
