	<button onclick="moveToTop()" id="moveToTop" class=""><i class="fas fa-arrow-up" aria-hidden="true"></i></button>
	<div class="footer">
		<div class="container">
			<div class="foot-r">
				<h3>Geekseek</h3>
                <span>copyright&copy; 2017</span>
			</div>
			<div class="foot-l">
				<ul class="foot-social">
					<li><a href="https://github.com/thetinygoat" title="Sachin Saini" target="_blank"><img src="https://avatars0.githubusercontent.com/u/32238055" onerror="this.onerror=null;this.src='/favicons/svg/ss.jpg'" style="width: 3em; height: 3em; border-radius: 50%;"></a></li>
					<li><a href="https://github.com/riuandg5/Geekseek" title="Github Project" target="_blank"><i class="fab fa-github fa-3x"></i></a></li>
					<li><a href="https://github.com/riuandg5" title="Rishu Anand" target="_blank"><img src="https://avatars2.githubusercontent.com/u/34133332" onerror="this.onerror=null;this.src='/favicons/svg/ra.jpg'" style="width: 3em; height: 3em; border-radius: 50%;"></a></li>
				</ul>
			</div>
		</div>
	</div>
	</div>
	<script src="/js/script.js"></script>
	<script>
        if(window.matchMedia('(display-mode: standalone)').matches){
		    if("serviceWorker" in navigator){
			 	navigator.serviceWorker.register('/service-worker.js').then(function(reg){
			    	console.log("ServiceWorker registration successful with scope: ", reg.scope);
			    }).catch(function(reg){
		    		console.error("ServiceWorker registration failed: ", reg);
		    	})
			} else {
				console.log("ServiceWorker is not supported in current browser!");
			}
		} else {
			if("serviceWorker" in navigator){
				navigator.serviceWorker.register('/service-worker.js').then(function(reg){
			    	console.log("Add to homescreen should popup!");
			    }).catch(function(reg){
		    		console.error("Add to homescreen popup failed: ", reg);
		    	})
			 	navigator.serviceWorker.getRegistrations().then(function(registrations){
			 		if(registrations[0].active){
			 			for(let registration of registrations){
							registration.unregister()
						}
			 		}
				})
				caches.keys().then(function(cacheNames){
					for(let cacheName of cacheNames){
						caches.delete(cacheName).then(function(boolean){
							console.log(`Cache ${cacheName} is deleted : ${boolean}`);
						})
					}
				})
		    } else {
				console.log("ServiceWorker is not supported in current browser!");
			}
		}
    </script>
</body>
</html>