	<button onclick="moveToTop()" id="moveToTop" class=""><i class="fas fa-arrow-up" aria-hidden="true"></i></button>
	<div class="footer">
		<div class="container">
			<div class="foot-r">
				<h3>Geekseek</h3>
                <span>copyright&copy; 2017</span>
			</div>
			<div class="foot-l">
				<ul class="foot-social">
					<li><a href=""><i class="fab fa-twitter fa-2x"></i></a></li>
					<li><a href=""><i class="fab fa-facebook fa-2x"></i></a></li>
					<li><a href="https://github.com/riuandg5/Geekseek" target="_blank"><i class="fab fa-github fa-2x"></i></a></li>
					<li><a href=""><i class="fab fa-google-plus fa-2x"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
	</div>
	<script src="/js/script.js"></script>
</body>
</html>