	<button onclick="moveToTop()" id="moveToTop" class=""><i class="fas fa-arrow-up" aria-hidden="true"></i></button>
	<div class="footer">
		<div class="container">
			<div class="foot-r">
				<h3>Geekseek</h3>
                <span>copyright&copy; 2017</span>
			</div>
			<div class="foot-l">
				<ul class="foot-social">
					<li><a href="https://github.com/thetinygoat" title="Sachin Saini" target="_blank"><img src="https://avatars0.githubusercontent.com/u/32238055" style="width: 3em; height: 3em; border-radius: 50%;"></a></li>
					<li><a href="https://github.com/riuandg5/Geekseek" title="Github Project" target="_blank"><i class="fab fa-github fa-3x"></i></a></li>
					<li><a href="https://github.com/riuandg5" title="Rishu Anand" target="_blank"><img src="https://avatars2.githubusercontent.com/u/34133332" style="background-color: white; width: 3em; height: 3em; border-radius: 50%;"></a></li>
				</ul>
			</div>
		</div>
	</div>
	</div>
	<script src="/js/script.js"></script>
</body>
</html>