<% include partials/header %>

	<div class="animator">
        <div class="hero">
			<h1 class="hero-head">All contents deleted by admin</h1>
			<h2>Only superadmin can delete them permanently..</h2>
			<% if(currentUser){ %>
				<a href="/mycontent" class="btn blue big">MyContent <i class="fas fa-arrow-right" aria-hidden="true"></i></a>
			<% } %>
        </div>
        <div class="grid container">
        	<% if((currentUser) && (currentUser._id.toString()===superAdmin)){ %>
        		<% files.forEach(function(file){ %>
        			<div class="col-4 content">
			            <div class="desc">
			            	<h2><a href="https://drive.google.com/file/d/<%= file.id %>/view" target="_blank"><%= file.name %></a></h2>
			            	<form action="/deletepermanently/<%= file.id %>" method="POST">
			            		<button type="submit" class="btn btn-block red">Delete Permanently <i class="fas fa-trash-alt" aria-hidden="true"></i></button>
						    </form>
			            </div>
					</div>
				<% }) %>
        	<% } else { %>
        		<div class="col-12">
					<img src="/favicons/Full Logo.svg">
				</div>
        	<% } %>
        </div>
    </div>

<% include partials/footer %>