<% include partials/header %>

    <div class="animator">
        <div class="hero">
            <h1 class="hero-head">Edit your post here...</h1>
            <a href="/blog/posts" class="btn red big">Cancel <i class="fas fa-times" aria-hidden="true"></i></a>
        </div>
        <form action="/blog/posts/<%= post._id %>?_method=PUT" method="POST" class="grid container">
            <div class="col-6">
                <select name="post[forbranch]" required style="width: 100%; height: 30px;">
                    <option value="" disabled selected>For branch..</option>
                    <option id="ALL">ALL</option>
                    <option id="COE">COE</option>
                    <option id="IT">IT</option>
                    <option id="ECE">ECE</option>
                    <option id="ICE">ICE</option>
                    <option id="MPAE">MPAE</option>
                    <option id="ME">ME</option>
                    <option id="BT">BT</option>
                </select>
            </div>
            <div class="col-6">
                <select name="post[forsem]" required style="width: 100%; height: 30px;">
                    <option value="" disabled selected>For sem..</option>
                    <option id="1">1</option>
                    <option id="2">2</option>
                    <option id="3">3</option>
                    <option id="4">4</option>
                    <option id="5">5</option>
                    <option id="6">6</option>
                    <option id="7">7</option>
                    <option id="8">8</option>
                </select>
            </div>
            <div class="col-12">
                <textarea style="width: 100%; height: 200px;" id="md" name="post[postbody]" autocomplete="off" required><%= post.rawbody %></textarea>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-block green">Update <i class="fas fa-check" aria-hidden="true"></i></button>
            </div>
        </form>
        <div class="grid container">
            <div class="col-12">
                <button onclick="doPreview();" class="btn btn-block blue">Preview <i class="far fa-eye" aria-hidden="true"></i></button>
            </div>
            <div class="col-12 blog">
                <div id="html" class="postbody"></div>
            </div>
        </div>
    </div>
    <script>
        twemoji.parse(document.body);
        document.getElementById("<%= post.branch %>").selected = true;
        document.getElementById("<%= post.sem %>").selected = true;
        function doPreview(){
            var md   = window.markdownit().use(window.markdownitEmoji),
                sd   = document.querySelector("#md").value,
                html = md.render(sd);
            document.querySelector("#html").innerHTML = html;
            twemoji.parse(document.body);
        }
    </script>

<% include partials/footer %>
