<% include partials/header %>

    <div class="animator">
        <div class="hero">
            <h1 class="hero-head">Welcome to Geekseek</h1>
            <h2>All your study needs in one place</h2>
            <a href="https://api.whatsapp.com/send?text=https%3A%2F%2Fgeekseeknsit.herokuapp.com%2F%0A*Welcome%20to%20Geekseek*%0A_All%20your%20study%20needs%20in%20one%20place_" target="_blank" class="btn green big">Share <i class="fas fa-share-alt" aria-hidden="true"></i></a>
        </div>
        <div class="grid container">
            <div class="col-6 tile">
                <div class="tile-content">
                    <div class="front">
                        <i class="fas fa-universal-access fa-8x" aria-hidden="true"></i><br>
                        <h1>User Friendly</h1>
                    </div>
                    <div class="back">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint ex earum, laboriosam vel repellendus dolorum error odit inventore repudiandae quae necessitatibus ab! Officia quia accusantium excepturi culpa at itaque architecto.</p>
                    </div>
                </div>
            </div>
            <div class="col-6 tile">
                <div class="tile-content">
                    <div class="front">
                        <i class="fas fa-mobile-alt fa-8x" aria-hidden="true"></i><br>
                        <h1>Access From Homescreen</h1>
                    </div>
                    <div class="back">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint ex earum, laboriosam vel repellendus dolorum error odit inventore repudiandae quae necessitatibus ab! Officia quia accusantium excepturi culpa at itaque architecto.</p>
                    </div>
                </div>
            </div>
            <div class="col-6 tile">
                <div class="tile-content">
                    <div class="front">
                        <i class="fas fa-people-carry fa-8x" aria-hidden="true"></i><br>
                        <h1>Help Others!</h1>
                        <h1>Help Yourself!</h1>
                    </div>
                    <div class="back">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint ex earum, laboriosam vel repellendus dolorum error odit inventore repudiandae quae necessitatibus ab! Officia quia accusantium excepturi culpa at itaque architecto.</p>
                    </div>
                </div>
            </div>
            <div class="col-6 tile">
                <div class="tile-content">
                    <div class="front">
                        <i class="fas fa-server fa-8x" aria-hidden="true"></i><br>
                        <h1>Complete Content Backup</h1>
                    </div>
                    <div class="back">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint ex earum, laboriosam vel repellendus dolorum error odit inventore repudiandae quae necessitatibus ab! Officia quia accusantium excepturi culpa at itaque architecto.</p>
                    </div>
                </div>
            </div>
            <div class="col-6 tile">
                <div class="tile-content">
                    <div class="front">
                        <i class="fas fa-sync fa-8x" aria-hidden="true"></i><br>
                        <h1>Always Uptodate Content</h1>
                    </div>
                    <div class="back">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint ex earum, laboriosam vel repellendus dolorum error odit inventore repudiandae quae necessitatibus ab! Officia quia accusantium excepturi culpa at itaque architecto.</p>
                    </div>
                </div>
            </div>
            <div class="col-6 tile">
                <div class="tile-content">
                    <div class="front">
                        <i class="fas fa-users-cog fa-8x" aria-hidden="true"></i><br>
                        <h1>About Our Team</h1>
                    </div>
                    <div class="back">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint ex earum, laboriosam vel repellendus dolorum error odit inventore repudiandae quae necessitatibus ab! Officia quia accusantium excepturi culpa at itaque architecto.</p>
                    </div>
                </div>
            </div>
            <div class="col-6 tile">
                <div class="tile-content">
                    <div class="front">
                        <i class="fas fa-handshake fa-8x" aria-hidden="true"></i><br>
                        <h1>Join Admin Panel</h1>
                    </div>
                    <div class="back">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint ex earum, laboriosam vel repellendus dolorum error odit inventore repudiandae quae necessitatibus ab! Officia quia accusantium excepturi culpa at itaque architecto.</p>
                    </div>
                </div>
            </div>
            <div class="col-6 tile">
                <div class="tile-content">
                    <div class="front">
                        <i class="fas fa-chess-king fa-8x" aria-hidden="true"></i><br>
                        <h1>Super Admin</h1>
                    </div>
                    <div class="back">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint ex earum, laboriosam vel repellendus dolorum error odit inventore repudiandae quae necessitatibus ab! Officia quia accusantium excepturi culpa at itaque architecto.</p>
                    </div>
                </div>
            </div>
            <div class="col-6 tile">
                <div class="tile-content">
                    <div class="front">
                        <i class="fas fa-heart fa-8x" aria-hidden="true"></i><br>
                        <h1>With Love</h1>
                        <h1>For Love</h1>
                    </div>
                    <div class="back">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint ex earum, laboriosam vel repellendus dolorum error odit inventore repudiandae quae necessitatibus ab! Officia quia accusantium excepturi culpa at itaque architecto.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="container col-12">
        <div class="slideshow-container">
            <div class="slides fade">
                <div class="img-number">1 / 3</div>
                <img class="slide-img" src="https://www.w3schools.com/howto/img_nature_wide.jpg">
                <div class="caption-text">Caption One</div>
                <div class="transparent-box">
                    <h2>Sample Text 1</h2>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint ex earum, laboriosam vel repellendus dolorum error odit inventore repudiandae quae necessitatibus ab! Officia quia accusantium excepturi culpa at itaque architecto.
                </div>
            </div>
            <div class="slides fade">
                <div class="img-number">2 / 3</div>
                <img class="slide-img" src="https://www.w3schools.com/howto/img_fjords_wide.jpg">
                <div class="caption-text">Caption Two</div>
                <div class="transparent-box">
                    <h2>Sample Text 2</h2>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint ex earum, laboriosam vel repellendus dolorum error odit inventore repudiandae quae necessitatibus ab! Officia quia accusantium excepturi culpa at itaque architecto.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint ex earum, laboriosam vel repellendus dolorum error odit inventore repudiandae quae necessitatibus ab! Officia quia accusantium excepturi culpa at itaque architecto.
                </div>
            </div>
            <div class="slides fade">
                <div class="img-number">3 / 3</div>
                <img class="slide-img" src="https://www.w3schools.com/howto/img_mountains_wide.jpg">
                <div class="caption-text">Caption Three</div>
                <div class="transparent-box">
                    <h2>Sample Text 3</h2>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint ex earum, laboriosam vel repellendus dolorum error odit inventore repudiandae quae necessitatibus ab! Officia quia accusantium excepturi culpa at itaque architecto.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint ex earum, laboriosam vel repellendus dolorum error odit inventore repudiandae quae necessitatibus ab! Officia quia accusantium excepturi culpa at itaque architecto.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint ex earum, laboriosam vel repellendus dolorum error odit inventore repudiandae quae necessitatibus ab! Officia quia accusantium excepturi culpa at itaque architecto.
                </div>
            </div>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
    </div>-->
    <script>
        if('serviceWorker' in navigator){
            console.log("Will the service worker register?");
            navigator.serviceWorker.register('/js/service-worker.js')
            .then(function(reg){
                console.log("Yes, it did.");
            }).catch(function(err){
                console.log("No it didn't. This happened: ", err)
            });
        }
    </script>

<% include partials/footer %>