<% include partials/header %>

    <div class="animator">
        <div class="hero">
            <h1 class="hero-head">Welcome to Geekseek</h1>
            <h2>All your study needs in one place</h2>
            <div class="hero-options">
                <a href="https://api.whatsapp.com/send?text=https%3A%2F%2Fgeekseeknsit.herokuapp.com" target="_blank" class="btn green big">Share <i class="fas fa-share-alt" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="grid container">
            <div class="col-4 tile">
                <div class="tile-content">
                    <div class="front">
                        <i class="fas fa-universal-access fa-8x" aria-hidden="true"></i><br>
                        <h1>User Friendly</h1>
                    </div>
                    <div class="back">
                        <p>We tried our best to keep Geekseek simple as well as powerful. Notes, Assignments, e-Books, Labfiles, Question Papers is all that we have. You can see updates about important uploaded contents in our Blog section. In short we will try to make you pass your semester ;)</p>
                    </div>
                </div>
            </div>
            <div class="col-4 tile">
                <div class="tile-content">
                    <div class="front">
                        <i class="fas fa-mobile-alt fa-8x" aria-hidden="true"></i><br>
                        <h1>Access From Homescreen</h1>
                    </div>
                    <div class="back">
                        <p>No need to open Chrome or any other browser everytime. Add Geekseek to your homescreen of your mobile device and have an app like experience. We are working on saving contents to your mobile device to access it offline.</p>
                    </div>
                </div>
            </div>
            <div class="col-4 tile">
                <div class="tile-content">
                    <div class="front">
                        <i class="fas fa-people-carry fa-8x" aria-hidden="true"></i><br>
                        <h1>Help Others!</h1>
                        <h1>Help Yourself!</h1>
                    </div>
                    <div class="back">
                        <p>Are your notes amazing? Don't be nerdy! Help your bachmates and juniors with your study material. Geekseek gives you a great and easy platform to help others. And one thing important your identity is anonymous till your bachates don't guess it XD</p>
                    </div>
                </div>
            </div>
            <div class="col-4 tile">
                <div class="tile-content">
                    <div class="front">
                        <i class="fas fa-server fa-8x" aria-hidden="true"></i><br>
                        <h1>Complete Content Backup</h1>
                    </div>
                    <div class="back">
                        <p>We have a strong content backup strategy. Every content is saved securely, but we don't believe in shitty watermarks or copyrights. Just share what you have :)</p>
                    </div>
                </div>
            </div>
            <div class="col-4 tile">
                <div class="tile-content">
                    <div class="front">
                        <i class="fas fa-sync fa-8x" aria-hidden="true"></i><br>
                        <h1>Always Uptodate Content</h1>
                    </div>
                    <div class="back">
                        <p>Sick of same old content? No problem, Geekseek will always try to provide you with uptodate content! If you have better content than here at Geekseek, please make it available to us and help others also.</p>
                    </div>
                </div>
            </div>
            <div class="col-4 tile">
                <div class="tile-content">
                    <div class="front">
                        <i class="fas fa-users-cog fa-8x" aria-hidden="true"></i><br>
                        <h1>About Our Team</h1>
                    </div>
                    <div class="back">
                        <p>Ah! There's no team. Its only about you and your college. Make Geekseek a great resource of our college for all study needs.</p>
                    </div>
                </div>
            </div>
            <div class="col-4 tile">
                <div class="tile-content">
                    <div class="front">
                        <i class="fas fa-handshake fa-8x" aria-hidden="true"></i><br>
                        <h1>Join Admin Panel</h1>
                    </div>
                    <div class="back">
                        <p>Want to share some content? Join us.. Geekseek provides you a very easy way to upload and manage content. You can edit or update your content without any restrictions.</p>
                    </div>
                </div>
            </div>
            <div class="col-4 tile">
                <div class="tile-content">
                    <div class="front">
                        <i class="fas fa-chess-king fa-8x" aria-hidden="true"></i><br>
                        <h1>Super Admin</h1>
                    </div>
                    <div class="back">
                        <p>Yeah Super Admin! We have some super admins for Geekseek, who ensure that admins work properly and do not misuse this open source platform.</p>
                    </div>
                </div>
            </div>
            <div class="col-4 tile">
                <div class="tile-content">
                    <div class="front">
                        <i class="fas fa-heart fa-8x" aria-hidden="true"></i><br>
                        <h1>With Love</h1>
                        <h1>For Love</h1>
                    </div>
                    <div class="back">
                        <p>Geekseek is made to share love with study material. We know you will make us reach our aim. Make it, use it and share it!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="container col-12">
        <div class="slideshow-container">
            <div class="slides fade">
                <div class="img-number">1 / 3</div>
                <img class="slide-img" src="https://www.w3schools.com/howto/img_nature_wide.jpg">
                <div class="caption-text">Caption One</div>
                <div class="transparent-box">
                    <h2>Sample Text 1</h2>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint ex earum, laboriosam vel repellendus dolorum error odit inventore repudiandae quae necessitatibus ab! Officia quia accusantium excepturi culpa at itaque architecto.
                </div>
            </div>
            <div class="slides fade">
                <div class="img-number">2 / 3</div>
                <img class="slide-img" src="https://www.w3schools.com/howto/img_fjords_wide.jpg">
                <div class="caption-text">Caption Two</div>
                <div class="transparent-box">
                    <h2>Sample Text 2</h2>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint ex earum, laboriosam vel repellendus dolorum error odit inventore repudiandae quae necessitatibus ab! Officia quia accusantium excepturi culpa at itaque architecto.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint ex earum, laboriosam vel repellendus dolorum error odit inventore repudiandae quae necessitatibus ab! Officia quia accusantium excepturi culpa at itaque architecto.
                </div>
            </div>
            <div class="slides fade">
                <div class="img-number">3 / 3</div>
                <img class="slide-img" src="https://www.w3schools.com/howto/img_mountains_wide.jpg">
                <div class="caption-text">Caption Three</div>
                <div class="transparent-box">
                    <h2>Sample Text 3</h2>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint ex earum, laboriosam vel repellendus dolorum error odit inventore repudiandae quae necessitatibus ab! Officia quia accusantium excepturi culpa at itaque architecto.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint ex earum, laboriosam vel repellendus dolorum error odit inventore repudiandae quae necessitatibus ab! Officia quia accusantium excepturi culpa at itaque architecto.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint ex earum, laboriosam vel repellendus dolorum error odit inventore repudiandae quae necessitatibus ab! Officia quia accusantium excepturi culpa at itaque architecto.
                </div>
            </div>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
    </div>-->

<% include partials/footer %>